@charset 'utf-8';

.al-center {
  text-align: center;
}

.fl-center {
  display: flex;
  justify-content: center;
}

.fl-column {
  flex-direction: column;
  align-items: center;
}

.mt-60 {
  margin-top: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}
